body {
    background-color: lightsteelblue;
}

header {
    text-align: center;
}

#links-section h2 {
    text-decoration: underline  ;
}

img {
    height: 300px;
    width: 300px;
}

#quotes-section h2 {
    text-decoration: underline;
}

#facts-section h2 {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
}

